# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
tf_env/
venv/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp

# Build
build/
dist/

# Python packaging
*.egg-info/

# Cache
.cache/

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/